<!DOCTYPE html>
<html>
  <head>
    <title>Atmosphere</title>
    <script src="https://kit.fontawesome.com/76488e50d6.js"></script>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script type="text/javascript">
      window.starUrl = "<%= image_url('star.png') %>"
      window.caretUrl = "<%= image_url('caret.png') %>"
      window.clapUrl = "<%= image_url('clap.svg') %>"
    </script>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
